* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 79.88px;
    width: 100%;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

header h
